body {
  background-image: url(background.jpg);
}

.details-label {
  font-size: 20px;
  color: black;
}

.details-header {
  font-size: 25px;
  color: black;
  margin: 0px;
}

svg {
  border: 2px black solid;
}