body {
  background-image: url(background.jpg);
  background-size: 100%;
}

.details-label {
  font-size: 20px;
  color: white;
}

.details-header {
  font-size: 25px;
  color: white;
  margin: 0px;
}