/*body {
  background-image: url(../background.jpg);
}
*/
svg {
  border: 2px black solid;
  display: block;
  margin: auto;
}
/*
.details-label {
  font-size: 20px;
}

.details-header {
  font-size: 25px;
}*/
./*details-form {
  float: right;

}*/
